# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
backup
# dependencies
**/node_modules/
volumes
/.pnp
.pnp.js
*.tar
# testing
**/coverage/
.env
docker-compose.yml
packages/common/prisma/migrations
packages/common/src/generated
# production
**/build/
**/dist/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 快速刷新错误记录
.expo/web/cache/development/

# Expo
**/.expo/
**/.expo-shared/

# Android
*.apk
*.aar
*.jks
!apps/mobile/android/app/release.jks
**/android/.gradle/
**/android/app/build/
**/android/app/release/
**/android/react-native-jsc/build/
**/android/react/build/
**/android/*/google-services.json
**/android/app/src/debug/res/xml/react_native_debug.xml
**/android/app/src/dev19/res/xml/react_native_debug.xml
**/android/app/src/dev20/res/xml/react_native_debug.xml
**/android/app/src/main/assets/shell-app.bundle
**/android/app/src/main/res/raw/shell_app_bundle
**/android/app/src/release/res/xml/react_native_debug.xml

# iOS
**/ios/Pods/
/ios/*.xcworkspace
**/ios/DerivedData/
**/ios/build/
**/ios/Podfile.lock

# Yarn Plug'n'Play
.pnp.*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Ignore .idea files in the Expo monorepo
**/.idea/
